// @import "reset";
@import "animation";
@import "breakpoint-sass";
@import "breakpoint-slicer";
$slicer-breakpoints: 0 400px 775px 1200px 1440px;

$txt: #000;
$accent: #007cf9;

#app-root {
  main > div:first-child {
    padding: 0 !important;
    max-width: 1248px;
    @include to(2) {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }
}

#ifawCards {
  margin: 90px auto;
  .title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -1.5px;
    color: $txt;
    max-width: 920px;
    margin: auto;
    strong {
      color: $accent;
    }
  }
  .description {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 15px;
    letter-spacing: normal;
    color: $txt;
    max-width: 920px;
    margin: auto;
  }
  .cards {
    margin-top: 90px;
    @include from(3) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
    .card {
      min-height: 575px;
      min-width: 300px;

      background-repeat: no-repeat;
      background-size: cover;
      background-color: #666;
      background-blend-mode: multiply;
      position: relative;
      margin-bottom: 16px;

      @include from(3) {
        flex: 0 0 385px;
        background-color: transparent;
      }
      .card-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s background-color ease;
        background-color: transparent;
        &:hover {
          background-color: #fff;
          .card-description,
          .card-checkbox {
            opacity: 1;
          }
          .cta {
            opacity: 0;
          }
        }
        &.animate {
          .card-checkbox {
            &::before {
              border-radius: 50%;
              border-right-color: navy;
              border-left-color: navy;
              animation: loader 2s infinite;
            }
          }
        }
        &.animated {
          .card-checkbox {
            &::before {
              border-radius: 50%;
              border-color: $accent;
              animation: none;
            }
            &::after {
              opacity: 1;
              animation: checkmark 0.5s ease;
            }
          }
        }
      }
      .card-title {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.1;
        letter-spacing: -0.5px;
        color: $txt;
        margin: 34px 30px 0;
        @include from(3) {
          font-size: 36px;
        }
        span {
          background-color: #fff;
          padding: 3px 5px;
          box-decoration-break: clone;
        }
      }
      .card-description {
        font-size: 16px;
        line-height: 1.5;
        margin: 30px;
        color: #fff;
        transition: 0.4s opacity ease-in-out;
        @include from(3) {
          opacity: 0;
          color: $txt;
        }
      }
      .card-checkbox {
        font-size: 24px;
        font-weight: 900;
        line-height: 1.17;
        letter-spacing: -0.6px;
        color: #009dff;
        padding-left: 60px;
        margin: 70px 20px 0 60px;
        transition: 0.4s opacity ease-in-out;
        opacity: 0;
        position: relative;
        &::before {
          content: "";
          width: 44px;
          height: 44px;
          position: absolute;
          left: 0;
          top: -5px;
          border: solid 2px $accent;
        }
        &::after {
          content: "";
          width: 26px;
          height: 16px;
          position: absolute;
          left: 10px;
          top: 5px;
          border-left: solid 3px $accent;
          border-bottom: solid 3px $accent;
          opacity: 0;
          transition: 0.2s opacity ease;
          transform: rotate(-45deg);
        }
      }
      .cta {
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 20px;
        line-height: 1;
        font-weight: bold;
        letter-spacing: -0.31px;
        color: #ffffff;
        padding: 12px 15px;
        background-color: $accent;
        transition: 0.4s opacity ease-in-out;
      }
    }
  }
}
